<h1>RSVP</h1>
<p>Please RSVP here for Tom and Sal's wedding</p>
<br>
<% unless @rsvp.blank? %>
  <%= nested_form_for @rsvp, url: {action: :update}, html: {class: "form"} do |f| %>
    <%= f.hidden_field :id %>
    <p>Please check the box if you can't wait to celebrate with us or leave it unchecked if you're sad to miss all the fun.</p>
    <div class="css3-checkboxes">
      <%= f.fields_for :invitee, :wrapper => false do |i_f| %>
        <%= i_f.hidden_field :id %>
        <label><%= i_f.check_box :comming, {} %>
        <span><%= i_f.label :comming, i_f.object.name %></span></label><br>
      <% end %>
    </div>
    <br>
    <p><%= f.text_field :comments %></p>
    <br>
    <%= f.submit class: "btn btn-default btn-lg" %>
  <% end %>
<% else %>
  <p>Whoops, it seems that you mistyped your password. Check your invitation again just to be sure.</p>
  <%= form_tag("/rsvp", method: "get") do %>
    <%= text_field_tag :q, "" , class: "txt-glow", placeholder: "Code" %>
    <%= submit_tag "Enter", class: "btn btn-invert" %>
  <% end %>
  <br>
  <p>Alternatively you can call or SMS Sal on 0422 257 630.</p>
<% end %>
<br><br>
