<h1>RSVP</h1>
<p>Please RSVP here for Tom and Sal's wedding</p>
<br>
<%= nested_form_for @rsvp, url: {action: :update}, html: {class: "form"} do |f| %>
  <%= f.hidden_field :id %>
  Which invitees will be comming?
  <div>
  <%= f.fields_for :invitee, :wrapper => false do |i_f| %>
      <%= i_f.hidden_field :id %>
      <%= i_f.check_box :comming, {} %>
      <%= i_f.label :comming, i_f.object.name %><br>
  <% end %>
  </div>
  <br>
  <p><%= f.text_field :comments %></p>
  <br>
  <%= f.submit class: "btn btn-default btn-lg" %>
<% end %>
<br><br>
